@model IEnumerable<TicketSales.User.Models.ConcertToBuy>

@{
    ViewData["Title"] = "Concerts";
}

<h1>Concerts</h1>


<table class="table">
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MessageId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="BuyTickets" asp-route-id="@item.Id">Buy Tickets</a>
            </td>
        </tr>
    }
    </tbody>
</table>
